body {
  background-color: rgba(218, 214, 214, 0.692);
  }

.montage-area {
  background-color: #FFFFFF;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 750px; 
  height: 235px;
  background-color: rgba(45, 112, 83, 1);
  padding: 1px;
}

.shape-block {
  display: inline-block;
  width: 218px;
}

.shape {
  display: inline-block; 
  vertical-align: middle;
  width: 144px;
  height: 144px;
  margin: 45px 0px 46px 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}

.text-block {
  display: inline-block;
  width: 373px;
}

.text-title {
  display: inline-block; 
  vertical-align: middle;
  width: 134px; 
  height: 131px;
  margin: 52px 0 52px 57px;
  font: 30px adobeinvisfont;
  text-transform: capitalize;
  white-space: break-spaces;
  color: #FFFFFF;
}

.button-block {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  width: 151px;
  padding: 0px;
}

.btn {
  width: 100px;
  height: 84px;
  margin-top: 70px;
  margin-left: 20px;
  border: none;
  background-color: rgba(45, 112, 83, 1);
}

.field {
  width: 85px;
  height: 13px;
  margin-top: 13px;
  border-radius: 10px 10px;
  background-color: #FFFFFF;
}

.background {
  height: 470px;
  width: 752px;
  margin-top: -26px;
  margin-left: 8px;
  opacity: initial;
}

.registration-top {
  width: 342px;
  height: 75px;
  display: inline-block;
  padding: 1px;
  margin-top: 368px;
  margin-left: 195px;
  font: 24px adobeinvisfont;
  text-align: center;
  line-height: 68px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(203, 146, 35, 1);
  border: none;
}

.about {
  height: 401px;
}

.foto-block {
  display: inline-block;
  width: 298px;
}

.foto {
  display: inline-block;
  vertical-align: top;
  width: 255px;
  height: 276px;
  margin-left: 43px;
  margin-top: 79px;
  overflow: hidden;
  border-radius: 50%;
}

.about-block {
  display: inline-block;
  width: 448px;
  height: 401px;
}

.name {
  display: inline-block;
  vertical-align: top;
  width: 210px;
  height: 27px;
  margin-left: 68px;
  margin-top: 155px;
  font: 35px adobeinvisfont;
  text-transform: capitalize;
}

.spec {
  display: inline-block;
  vertical-align: top;
  width: 245px;
  height: 50px;
  margin-top: 29px;
  font: 24px adobeinvisfont; 
  text-align: left;
  text-transform: none;
}

.info {
  width: 590px;
  height: 166px;
  margin-top: 46px;
  margin-left: 44px;
  font: 24px adobeinvisfont;
  text-align: left;
  white-space: pre;
}

.reasons {
  width: 545px;
  height: 32px;
  margin-top: 46px;
  margin-left: 44px;
  font: 36px adobeinvisfont; 
}

.list {
  width: 256px;
  height: 190px;
  margin-top: 43px;
  margin-left: 44px;
  font: 24px adobeinvisfont;
  text-align: left;
  white-space: pre;
}

.registration-bottom {
  width: 342px;
  height: 75px;
  display: inline-block;
  padding: 1px;
  margin-top: 42px;
  margin-left: 216px;
  font: 24px adobeinvisfont;
  text-align: center;
  line-height: 68px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(203, 146, 35, 1);
  border: none;
}

.bottom {
  width: 750px;
  height: 154px;
  margin-top: 47px;
  padding: 1px;
  background-color: rgba(136, 136, 136, 1);
}

.circle {
  display: inline-block;
  vertical-align: middle;
  width: 99px;
  height: 99px;
  margin-top: 28px;
  margin-left: 43px;
  margin-bottom: 27px;
  border-radius: 50%;
  background-color: #FFFFFF;

}

.address {
  display: inline-block;
  vertical-align: middle;
  margin-left: 183px;
  margin-top: 75px;
  width: 199px;
  height: 17px;
  color: #FFFFFF;
}

.tel {
  display: inline-block;
  vertical-align: top;
  margin-top: 58px;
  margin-left: 46px;
  width: 136px;
  height: 15px;
  color: #FFFFFF;
}

.email {
  display: inline-block;
  vertical-align: top;
  margin-top: 27px;
  margin-left: -8px;
  width: 144px;
  height: 17px;
  color: #FFFFFF;
}
.background {
background-image: url(./img/rect3.png);
}